<!DOCTYPE html>

<html>
<head>
    <title>Описание конструктора</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <style type="text/css">
        .icon {
            position: relative;
            top: 10px;
        }
        
        .big_line_spacing {
            line-height: 32px;
        }
        
        key {
            font-variant: small-caps;
            background-color: #cccccc;
            border: 1px solid black;
        }
        
        .toc {
            /* background: white;
            border: 1px solid black; */
            text-align: right;
            padding-left: 4px;
            padding-right: 4px;
            width: 150px;
        }
        
        .toc a {
            color: green;
            font-style: italic;
            font-weight: bold;
        }
        
    </style>
</head>

<body>
    <div id="logo">
        <a name="top">Описание конструктора</a>
    </div>
    
    <div id="navigation">
        {% include navigation.pms.html "creator" %}
    </div>
    
    <div id="content">
        <section class="content" style="top: 80px;">
            <margin>
            </margin>
            <main style="width:100%">
                <a name="toc"><h1>Содержание</h1></a>
                <ul>
                    <li><a href="#about">Общие сведения</a></li>
                    <li><a href="#games">Игры ПиктоМир</a></li>
                    <li><a href="#tasks">Задания</a></li>
                    <li><a href="#env">Редактор обстановок</a></li>
                    <li><a href="#prog">Редактор программных форм и начальных программ</a></li>
                    <li><a href="#hint">Задание подсказки</a></li>
                </ul>
            </main>
        </section>
        <section class="content">
            <margin>
               <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="about"><h1>Общие сведения</h1></a>
                <p>ПиктоМир-конструктор предназначен для подготовки и редактирования заданий (игр) для
                учебной системы "ПиктоМир". Для начала работы запустите пиктомир из командной строки с ключем
                <em>--ui=creator</em>, либо с помощью соответствующего значка приложения вашей системы.</p>
            </main>
            
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="games"><h1>Игры ПиктоМир</h1></a>
                <p>Игры располагаются в подкаталоге "share/pictomir/Tasks" поставки ПиктоМира.<p>
                <p>Старые реализации системы ПиктоМир использовали формат XML для хранения игр,
                сохраняя при этом обстановки робота в отдельных файлах. Текущая реализации использует
                формат <a href="http://www.json.org/json-ru.html" target="_blank">JSON</a>, не используя при этом никаких
                дополнительных файлов.</p>
                <p>ПиктоМир-Конструктор позволяет открывать файлы как в формате JSON, так и в формате XML, а
                сохранять - только в новом формате.</p>
                <p>Для загрузки существующего файла выберете из меню "Игра" пункт "Загрузить", для создания
                новой игры - пункт "Создать".</p>
                <p>После загрузки или создания игры, появится окно, которое имеет вид:</p>
                <p style="text-align: center;"><img src="creator/game-window_comments.png"></p>
                <p>Каждая игра должна иметь <em>имя</em> и непустой <em>список заданий</em>.
            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="tasks"><h1>Задания</h1></a>
                <p>Для добавления нового задания нажмите на кнопку добавления в окне игры, либо выберете соответствующий
                этой кнопке пункт "Скопировать" в меню "Задание". При этом будет создано новое задание, являющееся
                копией того задания, которое до этого было выбрано в списке.</p>
                <p>Для задания заголовка задания нажмите на кнопку переименования, либо дважды щелкните мышью
                на его заголовке в списке.</p>
                <p>Для удаления задания нажмите кнопку удаления.</p>
                <p>Справа от поля редактирования имени игры находятся три кнопки, они открывают (в отдельном дочернем
                окне) следующие редакторы для выбранного задания:
                <ul>
                    <li>редактор обстановки;</li>
                    <li>редактор программных форм и начальной программы;</li>
                    <li>редактор подсказки.</li>
                </ul>
            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="env"><h1>Редактор обстановки</h1></a>
                <p>Для редактирования обстановки используется встроенный редактор:</p>
                <p style="text-align:center;"><img src="creator/env-window_comments.png"></p>
                <p>Окно редактора вызывается нажатием соответствующей кнопки на окне игр, либо
                пунктом "Показать редактор" меню "Обстановка".</p>
                <p>Для создания новой обстановки с заданным размером нажмите кнопку "Очистить";
                для импорта файла обстановки из Кумира, нажмите кнопку "Загрузить".</p>
                <p>Редактирование обстановки выполняется с помощью мыши. В зависимости от режима,
                можно выполнять следующие действия:
                <ul>
                    <li><strong>Без редактирования.</strong> В этом режиме можно смело нажимать
                    на поле обстановки, не опасаясь что-либо испортить.</li>
                    <li><strong>Перемещение и поворот Робота.</strong> Нажатие на пустую клетку поля
                    перемещает в нее Робота, нажатие на клетке с Роботом - поворачивает его.</li>
                    <li><strong>Установка и удаление стен.</strong> Нажатие на пустой границе между клетками
                    ставит стену, нажатие на стене - удаляет ее.</li>
                    <li><strong>Переключение закрасти клетки.</strong> Нажатие на зеленой клетке делает ее закрашенной,
                    нажатие на синей (закрашенной) клетке - незакрашенной.</li>
                    <li><strong>Переключение точки на клетке.</strong> Нажатие на клетке без точки ставит точку в
                    этой клетке, нажатие на клетке с точкой - убирает точку.</li>
                </ul>
                </p>
            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="prog"><h1>Редактирование программных форм и начальных программ</h1></a>
                <p>Окно редактора вызывается нажатием соответствующей кнопки на окне игр, либо
                пунктом "Показать редактор" меню "Программа" и имеет следующий вид:</p>
                <p style="text-align:center;"><img src="creator/prog-window_comments.png"></p>
                <p>Для удаления программной формы, изменения ее размера или установки наличия
                повторителя либо условия - нажмите соответсвующую кнопку рядом с формой.</p>
                <p>Для добавления еще одной программной формы в конец программы - нажмите кнопку
                "Добавить алгоритм".</p>
                <p>Редактирование содержимого форм (начальной программы) выполняется точно таким же образом,
                как <a href="manual.pms.html#edit" target="_blank">редактирование программы в системе ПиктоМир</a>.</p>
            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="hint"><h1>Задание подсказки</h1></a>
                <p>Начиная с версии 0.13 задания (как правило - нетривиальные) можно сопровождать подсказками.
                Подсказки бывают трех видов:
                <ul>
                    <li><strong>Текст, </strong> который задается в редакторе подсказок.</li>
                    <li><strong>Растровое изображение, </strong> загружаемое из файла в формате PNG и внедряемое
                    в файл задания.</li>
                    <li><strong>Векторный рисунок, </strong> загружаемый из файла в формате SVG и внедряемый
                    в файл задания.</li>
                </ul>
                </p>
                <p>Текстовая форма представления, как правило, предназначена для учителя, который должен озвучить
                подсказку ребенку.</p>
                <p>Растровое изображение может быть снимком экрана или другим растровым изображением, 
                подготовленным в редакторе Adobe Photoshop или <a href="http://www.gimp.org/" target="_blank">GIMP</a>.</p>
                <p>Векторный рисунок создается в редакторах CorelDRAW, Adobe Illustrator или
                <a href="http://www.inkscape.org/" target="_blank">Inkscape</a>, и может, в отличии от растрового изображения,
                легко масштабироваться без потери качества.</p>
                <p>Окно редактирования подсказки имеет вид:</p>
                <p style="text-align:center;"><img src="creator/hint-window.png"></p>
                <p>Для задания текста, нажмите кнопку "Задать текст".</p>
                <p>Для задания изображения или рисунка, нажмите кнопку "Задать рисунок" и выберете существующий файл.
                Тип подсказки: растровое изображение или векторный рисунок, определяется исходя из типа выбранного файла.
                </p>
                <p>Для удаления подсказки, нажмите кнопку "Очистить", которая появляется в том случае, если
                подсказка задана.</p>
            </main>
        </section>
    </div>

</body>
</html>
