<!DOCTYPE html>

<html>
<head>
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
</head>

<body>
    <div id="logo">
        ПиктоМир
    </div>
    
    <div id="navigation">
        {% include navigation.pms.html "home" %}
    </div>
    
    <div id="content">
        <section>
            <margin>
            </margin>
            <main>
                <div style="width: 600px;height:1px;display:block;">&nbsp;</div>
                <h1>Локальное содержимое</h1>
                <ul>
                    <li><a href="introduction.pms.html">Знакомство</a></li>
                    <li><a href="manual.pms.html">Описание системы ПиктоМир</a></li>
                    <li><a href="creator.pms.html">Описание системы ПиктоМир&nbsp;Конструктор</a></li>
                    <li><a href="navigator.pms.html">Описание системы ПиктоМир&nbsp;Навигатор</a></li>
                </ul>
                <br/>
                <h1>Интернет-ресурсы</h1>
                <ul>
                    <li><a href="http://www.piktomir.ru/">www.piktomir.ru</a></li>
                </ul>
            </main>
        </section>
    </div>

</body>
</html>