<!DOCTYPE html>

<html>
<head>
    <title>Знакомство</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <script type="text/javascript" src="introduction.js"></script>
    <style type="text/css">
    #t1_crash {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t2_crash {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t3_crash {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t3_cells {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t3_done {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t4_crash {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t4_cells {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t4_done {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t1_cells {
        padding: 6px;
        text-align: right;
        font-style: italic;
        background-color: lightyellow;
        border: 1px solid black;
    }
    
    #t1_counter {
        font-weight: bold;
        color: blue;
    }
    </style>
</head>

<body>
    <div id="logo">
        Знакомство
    </div>
    
    <div id="navigation">
        {% include navigation.pms.html "intro" %}
    </div>
    
    <div id="content">
        <section class="content" style="top: 80px;">
            <margin>
                <div id="t1_crash" class="hidden">
                    <p>Робот ударился об стену!</p>
                    <p>Попробуй еще раз, и будь аккуратнее!</p>
                    <p><span id="t1_again" class="link_button" onclick="t1_reset()">начать сначала</span></p>
                </div>
                <div id="t1_cells" class="visible">
                    <p>Осталось закрасить <span id="t1_counter">4&nbsp;клетки</span></p>
                </div>
            </margin>
            <main>
                <object name="robot1" type="application/x-qt-plugin"
                        group="first_task_just_move"
                        classid="robot"
                        env="introduction/00-01.fil"
                        width="100%"
                        height="300px"
                        ></object>
                <h1>Управляем роботом</h1>
                <p>Перед тобой находится робот. Он умеет двигаться и закрашивать клетки. Попробуй закрасить все клетки, которые отмечены точками.</p>
                <p>Для этого нажимай кнопки:</p>
                <div class="buttons_row">
                    <div id="b11" class="button" onclick="t1_left()"><img src="icons/turn_left.png"> налево</div>
                    <div id="b12" class="button" onclick="t1_forward()"><img src="icons/forward.png"> вперед</div>
                    <div id="b13" class="button" onclick="t1_right()"><img src="icons/turn_right.png"> направо</div>
                    &nbsp;
                    <div id="b14" class="button" onclick="t1_paint()"><img src="icons/paint.png"> закрасить</div>
                </div>
            </main>
            
        </section>
        <section>
            <margin>
                 <div id="t2_crash" class="hidden">
                    <p>Робот ударился об стену!</p>
                    <p>Это произошло из-за того, что в программе есть лишняя или неправильная команда "вперед".</p>
                    <p>Команды, на которых произошла ошибка, выделяются красным цветом.</p>
                    <p>О том, как исправить программу - написано ниже.</p>
                </div>
            </margin>
            <main>
                <h1>Робот выполняет программу</h1>
                <p>Если у кнопок убрать надписи и компактно разместить их в несколько клеток рядом,
                то получим <em>программу</em>. Нажми <span id="t2_start_link" class="link_button" onclick="t2_start()"> сюда</span> и посмотри, как робот сам будет выполнять
                эти команды.</p>
                <object type="application/x-qt-plugin"
                        classid="form"
                        w="8" h="1"
                        width="100%"
                        height="100px"
                        group="first_task_just_run"
                        program="л,з,в,з,в,з,в,в"> </object>
                <object type="application/x-qt-plugin"
                        group="first_task_just_run"
                        classid="robot"
                        env="introduction/00-01.fil"
                        width="100%"
                        height="250px"
                        ></object>
            </main>
        </section>
        <section>
            <margin>
            </margin>
            <main>
                <h1>Редактирование программ</h1>
                <p>У робота выше вместо последней команды "закрасить" оказалась команда "вперед". Сейчас мы исправим это.</p>
                <h2>Как убрать лишнюю команду</h2>
                <ol>Удалить лишнюю команду можно двумя способами. Попробуй оба и пользуйся тем, который больше всего нравится.
                    <br/>Для того, чтобы удалить лишнюю или неправильную команду, наведи на нее курсор мыши, после этого сделай одно
                    из действий:
                    <li>Нажми <strong>правую</strong> кнопку мыши.</li>
                    <li>Нажми и <strong>не отпускай</strong> левую кнопку мыши; когда команда исчезнет - отпусти ее.</li>
                </ol>
                <h2>Как скопировать команду в программе</h2>
                <p>Нажми <strong>левой</strong> кнопкой мыши на команде, которая есть в программе.
                Команда начинает циклически менять свой размер, сообщая о том, что она стала <em>активной</em>.</p>
                <p>После этого нажми на пустую клетку, и в ней появится точно такая же команда.</p>
                <h2>Как переместить команду в программе</h2>
                <p>Нажми <strong>левой</strong> кнопкой мыши на команде, которая есть в программе. Теперь, не отпуская
                кнопки мыши, перетащи ее в пустую клетку. После этого отпусти кнопку мыши.</p>
            </main>
        </section>
        <section>
            <margin>
                <div id="t3_crash" class="hidden">
                    <p>Робот ударился об стену!</p>
                    <p>Попробуй еще раз исправить программу и перезапусти робота.</p>
                    <p><span id="t1_again" class="link_button" onclick="t3_start()">перезапустить робота</span></p>
                </div>
                <div id="t3_cells" class="hidden">
                    <p>Не все клетки закрашены!</p>
                    <p>Попробуй еще раз исправить программу и перезапусти робота.</p>
                    <p><span id="t1_again" class="link_button" onclick="t3_start()">перезапустить робота</span></p>
                </div>
                <div id="t3_done" class="hidden">
                    <p>Ура!</p>
                    <p>Идем дальше.</p>
                </div>
            </margin>
            <main>
                <h1>Исправляем неправильную программу</h1>
                <p>Теперь ты знаешь, как редактировать программу. Найди неправильную команду в программе и исправть ее.
                После этого <span class="link_button" id="t3_start_link" onclick="t3_start()">запусти</span> программу на выполнение.
                </p>
                <p>Если случайно (или специально) уберешь все команды, то перезагрузи страницу, и они вновь появятся.</p>
                <object type="application/x-qt-plugin"
                        classid="form"
                        w="8" h="1"
                        width="100%"
                        height="100px"
                        group="first_task_fix_and_run"
                        program="л,з,в,з,в,з,в,в"> </object>
                <object type="application/x-qt-plugin"
                        group="first_task_fix_and_run"
                        classid="robot"
                        env="introduction/00-01.fil"
                        width="100%"
                        height="250px"
                        ></object>
            </main>
        </section>
        <section>
            <margin>
                <div id="t4_crash" class="hidden">
                    <p>Робот ударился об стену!</p>
                    <p>Исправь программу и перезапусти робота.</p>
                    <p><span id="t1_again" class="link_button" onclick="t4_start()">перезапустить робота</span></p>
                </div>
                <div id="t4_cells" class="hidden">
                    <p>Не все клетки закрашены!</p>
                    <p>Исправь программу и перезапусти робота.</p>
                    <p><span id="t1_again" class="link_button" onclick="t4_reset()">вернуться в начало</span></p>
                    <p><span id="t1_again" class="link_button" onclick="t4_start()">перезапустить робота</span></p>
                </div>
                <div id="t4_done" class="hidden">
                    <p>Позравляем!</p>
                    <p>На этом наше знакомство окончено.</p>
                    <p>Теперь ты можешь приступить к первой игре.</p>
                </div>
            </margin>
            <main>
                <h1>Составляем программу с начала</h1>
                <p>А теперь попробуй составить программу с самого начала.</p>
                <p>Перед тобой еще один объект - <em>полка</em>, на которой находятся разные доступные команды:</p>
                
                <object type="application/x-qt-plugin"
                            classid="shelf"
                            width="100%"
                            table_width="400"
                            table_color="darkgray"
                            height="100px"
                            conditions="no"
                            repeaters="no"
                            functions="0"
                            group="first_task_compose"
                            > </object> 
                <div style="display:table-row">
                    <div style="display:block;float:left;width:60%;">
                        <p>С полки можно брать команды точно также, как из программы. Разница только в том, что на полке
                        они никогда не заканчиваются.</p>
                        <p>Теперь составь программу для закрашивания квадрата с самого начала.</p>
                        <p>Тут форма программы состоит из трех строк. Команды в нее нужно помещать слева направо, а затем
                        сверху вниз. Точно так же, как ты пишешь на бумаге.</p>
                    </div>
                    <div style="display:block;float:right;width:35%;margin-right:0px;">
                        <object type="application/x-qt-plugin"
                                classid="form"
                                w="3" h="3"
                                width="200px"
                                height="200px"
                                group="first_task_compose"
                                > </object> 
                    </div>
                </div>
                <p align="center">После того, как ты составишь программу - <span id="t4_start_link" onclick="t4_start()" class="link_button">запусти</span> ее.</p>
                <object type="application/x-qt-plugin"
                        name="robot4"
                        group="first_task_compose"
                        classid="robot"
                        env="introduction/00-02.fil"
                        width="100%"
                        height="300px"
                        ></object>
            </main>
        </section>
    </div>

</body>
</html>
