<!DOCTYPE html>

<html>
<head>
    <title>Описание системы ПиктоМир</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <style type="text/css">
        .icon {
            position: relative;
            top: 10px;
        }
        
        .big_line_spacing {
            line-height: 32px;
        }
        
        key {
            font-variant: small-caps;
            background-color: #cccccc;
            border: 1px solid black;
            padding-left: 4px;
            padding-right: 4px;
        }
        
        .toc {
            /* background: white;
            border: 1px solid black; */
            text-align: right;
            padding-left: 4px;
            padding-right: 4px;
            width: 150px;
        }
        
        .toc a {
            color: green;
            font-style: italic;
            font-weight: bold;
        }
        
    </style>
</head>

<body>
    <div id="logo">
        <a name="top">Описание системы ПиктоМир</a>
    </div>
    
    <div id="navigation">
        {% include navigation.pms.html "usermanual" %}
    </div>
    
    <div id="content">
        <section class="content" style="top: 80px;">
            <margin>
            </margin>
            <main style="width:100%">
                <a name="toc"><h1>Содержание</h1></a>
                <ul>
                    <li><a href="#about">Общие сведения</a></li>
                    <li><a href="#forms">Программные формы</a></li>
                    <li><a href="#specials">Повторители и условия</a></li>
                    <li><a href="#edit">Создание и изменение программ</a></li>
                    <li><a href="#run">Выполнение программ</a></li>
                    <li><a href="#robot">Робот-Вертун</a></li>
                </ul>
            </main>
        </section>
        <section class="content">
            <margin>
               <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
              
            </main>
            
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                
            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                
                    
            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="edit"><h1>Создание и изменение программ</h1></a>
                <h2>Добавление пиктограммы в поле программы</h2>    
                <p>Перед нами представлено несколько пустых <em>полей</em> программы:</p>
                <p style="text-align:center;"><img src="help/empty_field.png" class="figure"></p>
                <p>Каждое поле может иметь три вида клеток:
                <ol>
                    <li>Круглая синяя клетка</li>
                    <li>Красная ромбовидная клетка</li>
                    <li>Зеленая квадратная клетка</li>
                </ol>
                </p>
                <p><strong>Круглые синие клетки</strong> предназначены для команд,
                пиктограммы которых имеют круглую форму, <strong>ромбовидные красные
                клетки</strong> предназначены для команд, пиктограммы которых имеют
                ромбовидные клетки, а <strong>прямоугольные зеленые клетки</strong> - для остальных команд.</p>
                <p>Пиктограммы команд расположены на <em>полке</em> в верхней части окна:</p>
                <p style="text-align:center;"><img class="figure" src="help/dock.png"></p>
                <p>Для того, чтобы поместить команду на поле, необходимо выполнить два действия:
                    <ol>        
                        <li><em>Выбрать с полки пиктограмму.</em> Это делается однократным нажатием левой кнопки мыши на
                        соответствующующей пиктограмме полки. При этом выбранная пиктограмма
                        начинает подпрыгивать.</li>
                        <li><em>Положить пиктограмму на поле программы.</em> Для этого
                        необходимо однократно нажать левой кнопкой мыши на соответствующей
                        клетке поля.</li>
                    </ol>
                </p>
            <p>
                    <strong>Замечание.</strong>
                    Можно перетаскивать пиктограммы, «зацепляя» их мышью и перетаскивая в
            нужное место.
                </p>
                
                <h2>Копирование пиктограмм в поле</h2>
                <p>Для того, чтобы скопировать уже размещенную пиктограмму на поле, выделете
                ее однократным нажатием левой кнопкой мыши, при этом выделение пиктограммы
                изображается плавной пульсацией её размера.</p>
                <p>После этого нажмите левую кнопку мыши в любой другой свободной клетке
                поля программы.<p>
                <p><strong>Замечание:</strong> Можно копировать пиктограммы в поля других
                алгоритмов.</strong></p>
            
            <h2>Перемещение пиктограммы в поле</h2>
            <p>Для того, чтобы переместить уже размещенную пиктограмму на поле, перетащите
            ее «захватив» мышью.<p>
                <p><strong>Замечание.</strong> Можно перемещать пиктограммы в поля других
                алгоритмов.</strong></p> 
                
                <h2>Удаление пиктограмм из поля программы</h2>
                <p>Для удаления пиктограммы из поля программы, есть несколько способов:
                <ol>
                <li>Нажать на соответсвующей пиктограмме в поле программы правой
                кнопкой мыши.</li>
                <li>Долго удерживать нажатую левую кнопку мыши на пиктограмме, пока она не исчезнет.</li>
                <li>Удерживая на клавиатуре клавишу <key>Ctrl</key>, нажмите на
                соответствующей пиктограмме в поле программы левой кнопкой мыши.</li>
            <li>Переместите пиктограмму («зацепив» мышью) куда-нибудь вне поля программы.</li>
                </ol>
                </p>
            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="run"><h1>Выполнение программ</h1></a>
                <h2>Кнопки управления выполнением</h2>
                <p>Для управления выполнением программы предусмотрена группа круглых кнопок,
                  которая располагается в углу экрана наблюдения за Роботом.</p>
                <ul class="big_line_spacing">
                  <li><img src="help/run_start_button.png" class="icon"
                                     width="32px" height="32px"> Кнопка <strong>запуска</strong> программы. На
                    клавиатуре ей соответсвует клавиша <key>F9</key>. Начинает непрерывное выполнение программы, переводя ПиктоМир в состояние <strong>выполнения</strong>.
                  </li>
                  <li><img src="help/run_stop_button.png" width="32px" 
                     height="32px" class="icon"> Кнопка <strong>остановки</strong> выполнения программы. 
                    На клавиатуре ей соответствует клавиша <key>Esc</key>.
                    Завершает выполнение программы, в том числе 
                    приостановленной кнопкой <strong>пауза</strong>. Переводит ПиктоМир в состояние 
                    <strong>анализ</strong>.
                  </li>
                  <li><img src="help/run_pause_button.png" width="32px" 
                     height="32px" class="icon"> Кнопка <strong>паузы</strong> выполнения программы. 
                На клавиатуре ей соответствует клавиша <key>F9</key>.
                Приостанавливает выполнение программы и переходит в режим <strong>пауза</strong>.
                  </li>
                  <li><img src="help/run_debug_button.png" width="32px" height="32px" class="icon"> 
                  Кнопка начала <strong>пошагового выполнения</strong> программы. На клавиатуре ей соответствует клавиша <key>F8</key>.
                  Нажатие этой кнопки переводит ПиктоМир в режим <strong>пауза</strong>.
                    </li>
                    <li><img src="help/run_step_button.png" width="32px" height="32px" class="icon"> 
                    Кнопка выполнения очередного <strong>шага</strong> программы.
                    На клавиатуре ей соответствует клавиша <key>F8</key>.
                    Выполняет очередную непустую пиктограмму программы, временно переводя ПиктоМир в состояние <strong>выполнение</strong>.
                  </li>
                  <li><img src="help/run_fastrun_button.png" width="32px" height="32px" class="icon"> 
                Кнопка <strong>быстрого выполнения</strong> программы.
                На клавиатуре ей соответствует клавиша <key>SHIFT</key>&nbsp;<key>F9</key>.
                Выполняет программу до конца, переводя ПиктоМир в состояние <strong>выполнение</strong>.
                При этом отключается анимация исполнителя.
                  </li>
                  <li><img src="help/run_reset_button.png" width="32px" height="32px" class="icon"> 
                Кнопка <strong>сброса</strong> исполнителя в начальное состояние.
                На клавиатуре ей соответствует клавиша <key>F10</key>.
                Переводит ПиктоМир из состояния <strong>анализ</strong> в состояние <strong>редактирование</strong>, устанавливая при этом исходное состояние обстановки исполнителя.
                  </li>
                </ul>
                
                <h2>Состояния системы ПиктоМир</h2>
                <p>Система ПиктоМир в каждый момент времени может находиться в одном из состояний: <strong>редактирование</strong>, <strong>выполнение</strong>, <strong>пауза</strong>, и <strong>анализ</strong>.</p>
                <p>Каждое состояние характеризуется доступным пользователю набором действий, и отображается соответствующим набором видимых кнопок управления выполнением.</p>
                
                <ul class="big_line_spacing">
                    <li><img src="help/run_start_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_debug_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_fastrun_button.png" width="32px" height="32px" class="icon"> 
                    Режим <strong>редактирование</strong>. <br/> 
                    В этом режиме допускается редактирование 
                    программ, а также навигация по заданиям и играм.
                    </li>
                    
                    <li><img src="help/run_stop_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_pause_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_fastrun_button.png" width="32px" height="32px" class="icon"> 
                    Режим <strong>выполнение</strong>. <br/> 
                    В этом режиме запрещены редактирование 
                    программ, а также навигация по заданиям и играм. Для защиты от редактирования,
                    области алгоритмов программы закрываются "затемненным стеклом".
                    </li>
                    
                    <li><img src="help/run_stop_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_start_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_fastrun_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_step_button.png" width="32px" height="32px" class="icon"> 
                    Режим <strong>пауза</strong>. <br/> 
                    В этом режиме запрещены редактирование 
                    программ, а также навигация по заданиям и играм. При этом ни одна
                    команда не выполняется, а пиктограмма которая будет выполнена следущей - выделяется
                    анимацией желтого цвета.
                    </li>
                    
                    <li><img src="help/run_reset_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_debug_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_fastrun_button.png" width="32px" height="32px" class="icon"> 
                    <img src="help/run_start_button.png" width="32px" height="32px" class="icon"> 
                    Режим <strong>анализ</strong>. <br/> 
                    В этом режиме допускается редактирование 
                    программ, а также навигация по заданиям и играм При этом любое изменение 
                    программы переводит систему ПиктоМир состояние <strong>редактирование</strong>. 
                    В данном режиме отображается результат выполнения программы, а в случае 
                    ошибки выполнения - места ошибки выделяются анимацией красного цвета.
                    </li>
                    
                </ul>

            </main>
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%">
                <a name="robot"><h1>Робот-Вертун</h1></a>
                <p>Сейчас реализован один исполнитель - <em>Робот-Вертун</em>.
                Он умеет ходить по полю, разбитому на клетки и красить эти клетки.
                Между клетками могут быть стенки. Их нужно обходить
                (иначе Вертун разобьётся).</p>
                
                <h2>Вертун может выполнить четыре действия:</h2>
              
                <ol class="big_line_spacing">
                    <li><img src="help/robot_forward.png" width="32px" 
                             height="32px" class="icon">
                            - двигаться вперед;</li>
                    <li><img src="help/robot_left.png" width="32px" 
                             height="32px" class="icon">
                            - повернуть налево на 90°;</li>
                    <li><img src="help/robot_right.png" width="32px" 
                             height="32px" class="icon">
                            - повернуть направо на 90°;</li>
                    <li><img src="help/robot_paint.png" width="32px" 
                             height="32px" class="icon">
                            - закрасить клетку, на которой стоит Робот.</li>
                </ol>
                
                <a name="condition"></a>
                <h2>Вертун может проверить четыре условия:</h2>
                <ol class="big_line_spacing">
                    <li><img src="help/robot_free.png" width="32px" 
                             height="32px" class="icon">
                            - ИСТИНА, если впереди Робота нет стены;</li>
                    <li><img src="help/robot_wall.png" width="32px" 
                             height="32px" class="icon">
                            - ИСТИНА, если впереди робота находится стена;</li>
                    <li><img src="help/robot_clean.png" width="32px" 
                             height="32px" class="icon">
                            - ИСТИНА, если Робот находится на 
                      неокрашенной (зелёной) клетке;</li>
                    <li><img src="help/robot_painted.png" width="32px" 
                             height="32px" class="icon">
                            - ИСТИНА, если Робот находится на 
                      окрашенной (синей) клетке.</li>
                </ol>
            </main>
        </section>
    </div>

</body>
</html>
