<!DOCTYPE html>

<html>
<head>
    <title>Описание навигатора</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
    <style type="text/css">
        .icon {
            position: relative;
            top: 10px;
        }
        
        .big_line_spacing {
            line-height: 32px;
        }
        
        key {
            font-variant: small-caps;
            background-color: #cccccc;
            border: 1px solid black;
        }
        
        .toc {
            /* background: white;
            border: 1px solid black; */
            text-align: right;
            padding-left: 4px;
            padding-right: 4px;
            width: 150px;
        }
        
        .toc a {
            color: green;
            font-style: italic;
            font-weight: bold;
        }
        
    </style>
</head>

<body>
    <div id="logo">
        <a name="top">Описание навигатора</a>
    </div>
    
    <div id="navigation">
        {% include navigation.pms.html "navigator" %}
    </div>
    
    <div id="content">
        <section class="content" style="top: 80px;">
            <margin>
            </margin>
            <main style="width:100%;">
                <a name="toc"><h1>Содержание</h1></a>
                <ul>
                    <li><a href="#about">Общие сведения</a></li>
                    <li><a href="#features">Возможности системы</a></li>
                </ul>
            </main>
        </section>
        <section class="content">
            <margin>
               <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%;">
                <a name="about"><h1>Общие сведения</h1></a>
                <p>ПиктоМир-навигатор является специализированным Web-браузером основанным
                на Apple WebKit, поддерживающим внедрение на страницы компонентов системы "ПиктоМир".
                </p>
                <p>Он используется для отображения справочной иформации, однако его возможности
                намного шире - он позволяет создавать полноценные курсы, которые могут поставляться как
                для работы на локальном компьютере, так и для работы в сети, в том числе с интергацией
                в Moodle.</p>
            </main>
            
        </section>
        <section>
            <margin>
                <div class="toc"><a href="#toc">К содержанию</a></div>
            </margin>
            <main style="width:100%;">
                <a name="features"><h1>Возможности системы</h1></a>
                <p>ПиктоМир Навигатор - это привычный браузер, который помимо протокола http поддерживает
                протокол local, который обслуживается встроенным сервером и выполняет предварительную обработку хранящихся на
                локальном компьютере html-файлов.</p>
                <p>Навигатор поддержвает компактный вид (без меню), который включается и отключается нажатием
                на кнопку справа от панели вкладок.</p>
                <p>Текст, введенный в сроку адреса, но не являющийся синтаксически корректным адресом, отправляется
                в виде запроса к поисковой системе Google.</p>
            </main>
        </section>
    </div>

</body>
</html>
