<div class="{% evaluate {{1}}=="home" ? "nav_item_active" : "nav_item_inactive" %}">
    <a href=".">Главная</a>
</div>

<div class="{% evaluate {{1}}=="intro" ? "nav_item_active" : "nav_item_inactive" %}">
    <a href="introduction.pms.html">Знакомство</a>
</div>

<div class="{% evaluate {{1}}=="usermanual" ? "nav_item_active" : "nav_item_inactive" %}">
    <a href="manual.pms.html">ПиктоМир</a>
</div>

<div class="{% evaluate {{1}}=="creator" ? "nav_item_active" : "nav_item_inactive" %}">
    <a href="creator.pms.html">Конструктор</a>
</div>

<div class="{% evaluate {{1}}=="navigator" ? "nav_item_active" : "nav_item_inactive" %}">
    <a href="navigator.pms.html">Навигатор</a>
</div>

