body {
    background-color: darkgray;
    font-family: sans-serif;
    padding: 0px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 180px;
    right: 00px;
    height: 60px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    background-color: red;
    background-image: url(common_images/logo_background.png);
    background-repeat: repeat-x;
}

#navigation {
    height: 120px;
    position: fixed;
    top: 0px;
    width: 160px;
    left: 0px;
    background-color: black;
    font-size: 14px;
    color: white;
    text-align: right;
    padding-top: 2px;
    padding-right: 20px;
    padding-left: 0px;
    padding-bottom: 2px;
    /*border-top-right-radius: 20px; */
    border-bottom-right-radius: 20px;
    z-index: 10;
}

#navigation a {
    text-decoration: none;
    font-weight: bold;
    
}

.nav_item_active {
    border-bottom: 1px solid black;
    background-color: yellow;
    border-right: 1px solid black;
    color: black;
    padding-right: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav_item_inactive {
    border-bottom: 1px solid gray;
    padding-right: 8px;
}

.nav_item_active a {
    color: black;
}

.nav_item_inactive a {
    color: white;
}

#content {
    position: absolute;
    display: block;
    top: 80px;
    bottom: 0px;
    left: 5px;
    right: 30px;
    
    
    
}

section {
    display: table-row;
}

main {
    display: table-cell;
    float: right;
    background-color: white;
    border-left: 1px solid black;
    text-align: justify;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    border-right: 1px solid black;
}

margin {
    display: table-cell;
    width: 200px;
    text-align: justify;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    vertical-align: bottom;
}

.buttons_row {
    text-align: center;
    display: table-row;
    padding: 10px;
}

.button {
    display: inline-block;
    height: 40px;
    margin-right: 20px;
    padding: 0px;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    
    background-color: green;
    cursor: pointer;
    border-radius: 4px;

    
}

.button img, .button_disabled img {
    vertical-align: middle;
}


.button_disabled {
    display: inline-block;
    height: 40px;
    margin-right: 20px;
    padding: 0px;
    font-weight: bold;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    
    background-color: lightgray;
    color: darkgray;
    border-radius: 4px;
}

.button:hover {
    background-color: lightgreen;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}

.link_button {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

li a {
    color: green;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}
