﻿QDialog {
    background-color: #BBBBBB;
}

QListWidget::item {
    border-style: none;
    padding: 2px;
}

QListWidget::item:selected {
    background-color: #699969;
}

QListWidget::item:focus {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

QListWidget::item:selected:focus {
    background-color: green;
}

QListWidget { 
    border-style: solid;
    border-color: chocolate;
    padding: 6px;
    border-radius: 5px;
    border-width: 2px;
    background-color: beige;
}



QPushButton {
    color: white;
    font-weight: bold;
    border-width: 2px;    
    border-style: solid;
    border-radius: 5;
    padding: 6px;
    min-height: 20px;
    min-width: 100px;
}

QToolButton {
    font-weight: bold;
    border-color: red;
    border-width: 2px;    
    border-style: solid;
    
    border-top-right-radius: 5px;    
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 6px;
    min-height: 20px;
    min-width: 20px;
}

QToolButton:focus {
    border-width: 4px;
}

QToolButton::hover {
    background-color: #FF9F9F;
}

QToolButton::pressed {
    background-color: #FF9F9F;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

QMenu {
    color: gray;
    background-color: #FF9F9F;
    font-weight: bold;
    border-color: red;
    border-width: 4px;    
    border-style: solid;
}

QMenu:enabled {
    color: red;
}

QMenu::selected {
    color: black;
    background-color: gray;
}

QMenu:enabled:selected {
    color: white;
    background-color: red;
}

QPushButton:focus {
    border-width: 4px;
}

QPushButton:hover {
    color: #FFFFC0;
}

QPushButton[objectName="btnOK"] {
    background-color: #699969;
    border-color: green;
}

QPushButton[objectName="btnCancel"] {
    background-color: #555555;
    border-color: black;
}

