﻿QMenuBar {
    background-color:black;
    color:gray;
    font-weight:bold;
    font-size:12px;
}

QMenuBar:selected {
    background-color: #699969;
    color: black;
}

QMenu {
    border-style: solid;
    border-color: gray;
    border-width: 4px;
}

QMenu:enabled {
    background-color:black;
    color:gray;
    font-weight:bold;    
    font-size:12px;
}

QMenu:enabled:selected {
    background-color: #699969;
    color: black;
}

QMenu:disabled {
    background-color:black;
    color: #222222;
    font-weight:bold;
    font-size:12px;
}

QMenu:disabled:selected {
    background-color: #9F7F7F;
    color: #222222;
}