.algName {
    font-family: Arial, Helvetica, DjVu Sans Serif, Licuda Sans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
}
.algorhitm {
    display: inline-table;
    border: 2px solid black;
    background-color: #a9a9a9;
    padding: 4px;
    margin: 0px;
}

.algHeader {
    display: table-cell;
    width: 48px;
    border-right: 2px solid #575757;
}

.algorhitmBody {
    display: table-cell;
    top: 0px;
    left: 64px;
}

.plainCell {
    width: 40px;
    height: 40px;
    background-color: #699969;
    text-align: center;
    padding: 0px;
}

.repeatCell {
    width: 40px;
    height: 40px;
    background-color: #7F7F9F;
    text-align: center;
    padding: 0px;
}

.conditionCell {
    width: 40px;
    height: 40px;
    background-color: #9F7F7F;
    text-align: center;
    padding: 0px;
}