﻿QPushButton {
    color: white;
    font-weight: bold;
    border-width: 2px;    
    border-style: solid;
    border-radius: 5;
    padding: 6px;
    min-height: 20px;
}

QComboBox {
    border-color: silver;
    border-width: 2px;    
    border-style: solid;
    border-radius: 5;
    padding: 6px;
    min-height: 20px;
}

QComboBox:focus {
    border-color: black;
}

QPushButton:focus {
    border-width: 4px;
}

QPushButton:hover {
    color: #FFFFC0;
}

QPushButton[objectName="btnSave"] {
    background-color: #699969;
    border-color: green;
    text-align: right;
}

QPushButton[objectName="btnSave"]:pressed {
    background-color: green;
}

QPushButton[objectName="btnCancel"] {
    background-color: #555555;
    border-color: black;
}

QPushButton[objectName="btnCancel"]:pressed {
    background-color: black;
}

QPushButton[objectName="btnDiscard"] {
    background-color: #9F7F7F;
    border-color: red;
}

QPushButton[objectName="btnDiscard"]:pressed {
    background-color: red;
}
