﻿QDialog {
    background-color: #BBBBBB;
}

QListWidget { 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: chocolate;
    padding: 6px;
    background-color: beige;
}

QLineEdit {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: chocolate;
    padding: 6px;
    background-color: beige;
}


QListWidget::item {
    border-style: none;
    padding: 2px;
}

QListWidget::item:selected {
    background-color: #699969;
}

QListWidget::item:focus {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

QListWidget::item:selected:focus {
    background-color: green;
}

QPushButton[objectName="btnGo"] {
    border-radius: 10px;
    background-color: green;
    color: white;
    border-width: 2px;
    border-color: chartreuse;
    padding: 6px;
    min-height: 22px;
}

QToolButton[objectName="btnRemove"] {
    border-radius: 10px;
    border-width: 2px;
    padding: 3px;
    border-color: red;
    background-color: white;
}

QToolButton[objectName="btnRemove"]:disabled {
    border-radius: 10px;
    border-width: 2px;
    padding: 3px;
    border-color: red;
    background-color: #999999;
}