h1 {
    display: box;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: Arial, Verdana, Helvetica, DejaVu Sans, Bitstream Vera, sans-serif;
    font-weight: bold;
    background-color: #c00000;
    color: white;
    text-align: center;
    font-size: 28px;
    height: 36px;
    z-index: 10;
    margin: 0px;
}

body {
    background-color: #ffffcc;
    background-image: url(bg_logo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.navigation {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: Arial, Verdana, Helvetica, DejaVu Sans, Bitstream Vera, sans-serif;
    display: box;
    background-color: #c00000;
    color: white;
    padding: 4px;
    height: 16px;    
    z-index: 20;
    text-align: center;
}

.next {
    position: absolute;
    right: 10px;
}

.prev {
    position: absolute;
    left: 10px;
}

.nav_item {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    display: inline-table;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.navigation a {
    color: white;
    font-variant: small-caps;
    font-weight: normal;
    
}

.navigation a:hover {
    color: yellow;
}

a {
    font-weight: bold;
    color: #777777;
    text-decoration: none;
}

key {
    font-variant: small-caps;
    background-color: #cccccc;
    border: 1px solid black;
}

p {
    font-family: Lucida Sans, Bitstream Vera, Arial, Verdana, Helvetica, sans-serif;
    font-size: 17px;
    text-align: left;
    text-indent: 2em;
}

em {
    font-variant: small-caps;
    font-style: normal;
    color: #c00000;
}

h2 {
    color: #c00000;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}

.figure {
    display: block;
    position: relative;
    margin-top: 10px;
    left: 50px;
}

hr {
    margin-bottom: 40px;
    margin-top: 30px;
    
}

ol {
    margin-left: 15px;
}

ul {
    margin-left: 15px;  
}

strong {
    color: #c00000;
}

li {
    font-family: Arial, Verdana, Helvetica, DejaVu Sans, Bitstream Vera, sans-serif;
    font-size: 17px;
}

a:hover {
    color: #000000;
}

.icon {
    position: relative;
    top: 10px;
}

.big_line_spacing {
    line-height: 32px;
}

.box_500px {
    width: 700px;
    display: block;
}

.big {
    color: #c00000;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-indent: 0;
}